@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-variable-font-wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";
@import "./partials/tokens.css";
@import "./partials/base.css";
@import "./partials/utilities.css";
@import "./partials/animations.css";
@import "./partials/prose.css";
